My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        -20
      ],
      "id": "121a7878-2ea5-4bff-ad1d-91378097ff8a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://technews.tw/category/ai/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -80,
        -20
      ],
      "id": "f0dc1315-d06d-47cf-97fe-1b1f01916fe4",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        140,
        -20
      ],
      "id": "7a42ba80-4f4e-4ae4-8fcc-b4f12f8c4a2b",
      "name": "Limit"
    },
    {
      "parameters": {
        "html": "={{ $('RSS Read').item.json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        360,
        -20
      ],
      "id": "42eaab39-b8bc-49d9-bd1a-ae847115363b",
      "name": "Markdown"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        520,
        240
      ],
      "id": "05a42954-5952-45f4-8eb2-00767e4e5312",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Z5fHct6lHqUwlEJB",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "[{\"title\": \"新聞標題\"}, {\"summary\": \"摘要\"}, {\"date\": \"出版日期\"}, {\"url\": \"連結\"}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        800,
        240
      ],
      "id": "2472d3db-0909-41ce-96e6-72f5d90bd007",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1c547cab-e16f-80fb-aeea-d3a4a63ea508",
          "mode": "list",
          "cachedResultName": "AI 新聞",
          "cachedResultUrl": "https://www.notion.so/1c547cabe16f80fbaeead3a4a63ea508"
        },
        "title": "={{ $('Markdown').item.json.title }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "url|url",
              "urlValue": "={{ $('Markdown').item.json.link }}"
            },
            {
              "key": "標題|title",
              "title": "={{ $('Markdown').item.json.title }}"
            },
            {
              "key": "摘要|rich_text",
              "textContent": "={{ $json.output.summary }}"
            },
            {
              "key": "日期|date",
              "date": "={{ $('Markdown').item.json.pubDate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1040,
        -340
      ],
      "id": "e0d46c32-a71b-4b25-bee3-c433a3a5fed1",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "ISed3gjdOIh7XgPo",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=總結新聞摘要 {{ $json.data }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        580,
        -20
      ],
      "id": "5b2ab9a6-2195-4096-950c-f343d348283d",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "swifts.meetup",
        "fields": "iso_code,country,page,name,branch,city,swift_code,createdAt,updatedAt",
        "options": {}
      },
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        1400,
        20
      ],
      "typeVersion": 1,
      "id": "e8d888c4-38ec-4131-b247-6d847aaedb60",
      "credentials": {
        "mongoDb": {
          "id": "d3WzFznG4531F4rS",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        20
      ],
      "id": "0aefa328-744a-4eed-8eba-18a1573e15b0",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc4c9dcb-f40c-40e1-9a4c-46823d9b6f48",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f4c6da52a11a4b9ce6970aa105abd4666a1709f49194afa5baf2ca88033379a8"
  },
  "id": "BNR9eDQgEf6km4VU",
  "tags": []
}